# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3

# Virtual Environment
env/
venv/
.venv/

# VS Code
.vscode/

# Logs
*.log

# Media
media/

# Static files
staticfiles/

# Environment variables
.env

# Python cache
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db